 /* Estilos Globales */

 * {
     margin: 0;
     padding: 0;
     list-style: none;
     text-decoration: none;
     font-family: sans-serif;
     color: black;
     box-sizing: border-box;
 }

 /* Estilos NavBar */

 header {
     width: 100%;
     height: 8rem;
     box-sizing: border-box;
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 header>* {
     margin: 0 1rem 0 1rem;
     font-size: 20px;
 }

 .logo img {
    max-width: 5.5rem;
 }

 header>nav>ul {
     padding: 0.2rem;
     display: flex;
     gap: 1rem;
 }

 #contacto {
     background-color: #ffb179;
     border-radius: 10rem;
     padding: .4rem;
 }

#contacto:hover {
    background-color: #000;
    color: white;
    transition: all 0.1s;
}

#contacto:active {
    transition: all 0.1s;
    background-color: #ffb17958;
}

 /* Estilos Main  */

 main {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .container {
     height: 13rem;
     text-align: center;
     background-color: #9290d7;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .container h1 {
     margin: 1rem;
     font-size: 3rem;
     font-weight: 1;
     font-style: italic;
 }

 .container p {
     margin: 1rem;
     font-size: 1.2rem;
 }

 .container-info {
     margin: 2rem;
     width: 80%;
     height: auto;
     border-radius: 10px;
     background-color: #e5d4ff;
 }

 .container-info p {
     padding: 1rem;
     text-align: justify;
 }

 /* Estilos Servicios  */

 .container-cards {
     width: 100%;
     display: inherit;
     justify-content: space-around;
 }

 .card {
     background-color: #a4a1ff;
     border-radius: 1rem;
     width: 20%;
     padding: 1rem;
 }

 .card-top {
     height: 8rem;
 }

 .card-top img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-top-left-radius: 1rem;
     border-top-right-radius: 1rem;
 }

 .card-body {
     text-align: justify;
 }

 .card-body h3 {
     margin: 1rem 0 .5rem;
     text-align: center;
 }

 /* Estilos Footer */

 footer {
     margin-top: 2rem;
     width: 100%;
     height: 4rem;
 }

 footer p {
     background-color: #9290d7;
     text-align: center;
     line-height: 4rem;
 }

 /* Estilos Responsivos */

 @media screen and (min-width: 768px) and (max-width: 1024px) {
     .container-cards {
         width: 40rem;
         flex-wrap: wrap;
         justify-content: center;
         gap: 5rem;
     }

     .card {
        width: 42%;
     }
 }

 @media screen and (min-width: 425px) and (max-width: 767px) {

     header>* {
         font-size: .8rem;
     }

     header {
         height: 5rem;
     }

     .container h1 {
         font-size: 2.5rem;
     }

     .container p {
        margin: .5rem;
         font-size: 1rem;
     }

     .container-cards {
         flex-direction: column;
         align-items: center;
         gap: 2rem;
     }

     .card {
         width: 75%;
     }

     .card-top {
         height: 15rem;
     }

     .card-body h3 {
         font-size: 1.7rem;
     }

     .card-body p {
         font-size: 1.2rem;
     }
 }

@media screen and (min-width: 375px) and (max-width:424px) {
 
    header>* {
        font-size: .8rem;
    }

    header {
        height: 3rem;
    }

    .container h1 {
        font-size: 2.5rem;
    }

    .container p {
        font-size: 1rem;
    }

    .container-cards {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .card {
        width: 80%;
    }

    .card-top {
        height: 15rem;
    }

    .card-body h3 {
        font-size: 1.7rem;
    }

    .card-body p {
        font-size: 1.2rem;
    }   
}

@media screen and (min-width: 0px) and (max-width: 374px) {

    header > * {
        font-size: 1rem;
    }

    header nav ul {
        display: block;
    }

    header nav ul li {
        line-height: 1.8rem;
    }

    .container h1 {
        font-size: 2rem;
        margin: .5rem;
    }

    .container p {
        margin: .2rem;
        font-size: 1rem;
    }

    .container-info p {
        font-size: .8rem;
    }

    .container-cards {
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .card {
        width: 85%;
    }

    

    footer {
        font-size: .8rem;
    }
}